body {
        color: #282828;
        text-align: center;
    }

.img-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 92%;
    transition: .5s ease;
    opacity: 0;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    z-index: 5;
    cursor: pointer;
}

.img-overlay a:hover,
.img-overlay a:link,
.img-overlay a:visited,
.img-overlay a:active {
    text-decoration: none;
    color: #f1f1f1;
}

img.img-responsive {
    border-radius: 6px;
}

.multi-item-carousel .carousel-inner>.item {
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}

.multi-item-carousel .carousel-inner .next {
    left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner>.item {
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none !important;
        transform: none !important;
    }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none !important;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 50%;
    margin-left: -65%;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 50%;
    margin-right: -65%;
}

@media screen and (min-width: 768px) {

    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -65%;
    }
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    margin-left: -65%;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 20px;
    color: #16A854;
    text-align: center;
    text-shadow: none;
    /* background-color: rgba(0,0,0,0); */
    opacity: 1;
}

a.left.carousel-control,
a.right.carousel-control {
    background-image: none;
}

@media screen and (min-width: 768px) {

    body {
        color: #282828;
        text-align: center;
    }

}

@media (max-width: 767px) {
    .carousel-inner .item .col-xs-4 {
        padding-left: 5px;
        padding-right: 5px;
        width: 50%;
    }

    /* To show only two images on mobile view */
    .carousel-inner .item .col-xs-4:nth-of-type(3) {
        display: none;
    }

    .img-overlay {
        width: 96%;
        margin-left: 1px;
        margin-right: 1px;
    }
    
    body {
        color: #282828;
        text-align: center;
    }
    

i.glyphicon.glyphicon-chevron-left:hover,
i.glyphicon.glyphicon-chevron-right:hover {
    color: #16A854;
}
        
i.glyphicon.glyphicon-chevron-left:focus,
i.glyphicon.glyphicon-chevron-right:focus {
    color: #16A854;
}
}
